* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body {
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(89, 211, 89);
    text-decoration: none;
}

/* HEADER SECTION */

.header-container {
    background-color: black;
    width: 100vw;
    height: 80px;
    display: inline-block;
}

.options {
    color: white;
    background-color: rgb(55, 67, 78);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
    top: 0;
    right: 0;
    float: right;
}

/* MAIN SECTION */

main {
    background-color: black;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.container {
    width: 90%;
    margin: auto;
}

.user {
    position: relative;
    display: inline-block;
    width: 15%;
    height: auto;
    margin: 10px 5px;
}

.user span {
    position: absolute;
    color: white;
    background-color: rgb(168, 164, 164);
    opacity: 0.6;
    padding: 2px 4px 4px;
    bottom: 0;
    left: 0;
}

.user span i {
    padding-right: 4px;
}




/* FOOTER SECTION: ICONS AND MORE OPTIONS */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(51, 48, 48);
    color: white;
    text-align: center;
}

.icons-place div,
.left-side div {
    display: inline-block;
    font-size: 13px;
}

footer i {
    font-size: 18px;
}

.left-side div {
    padding: 5px 20px;
}

.icons-place div {
    padding: 5px 10px;
}

.left.side p,
.icons-place p {
    padding-top: 7px;
}

.right-side {
    width: 7%;
    height: 60px;
    background-color: grey;
    font-size: 15px;
    padding-top: 25px;
}
#end-meeting {
    color: red;
}

#end-meeting:hover {
    background-color: red;
    color: white;
}